.image-container {
  display: flex; /* Use Flexbox to create a row layout */
  flex-wrap: wrap; /* Allow images to wrap to the next row if needed */
 
}

.image-container > div {
  margin-right: 10px; /* Add some margin between images */
  
}

img {
  max-width: 100px;
  max-height: 100px;
}

.link {
  margin-right: 20px; /* Adjust the value to set the desired spacing */
}