.aps {
    height: auto;
    background-color: #F5F5F5;
    padding-bottom: 100px;
}

.aps-container {
    margin-top: 50px;
}

.aps-heading {
    gap: 15px;
}

.aps-header {
    font-size: 32px;
    color: #743943;
}

.aps-line {
    background-color: #743943;
    width: 68px;
    height: 6px;
}

.aps-desc {
    margin-top: 36px;
}

.aps-summary {
    text-align: center;
    padding-bottom: 10px;
}

select, .aps-percent {
    border: none !important;
}

th {
    background-color: white !important;
    background-color: #743943 !important;
}


th, td {
    border: 1px solid black  !important;
}

.calculate-btn {
    margin-top: 52px;
    color: white !important;
    background-color: #743943 !important;
}
