.blog {
    background-color: #F5F5F5;
    height: auto;
    padding-bottom: 70px;
    padding-top: 42px;
}

.card-section__conatiner {
    gap: 20px;
}

.blog-line {
    background-color: var(--background);
    width: 68px;
    height: 6px;
}

.blog-container {
    gap: 50px;
}

.blog-heading {
    gap: var(--heading-gap);
}

.blog-header {
    color: var(--background);
}

.blog-summary {
    max-width: 857px;
    text-align: center;
}

.card-section {
    
}

.cards {
    background-color: white;
    width: 344px;
    padding-bottom: 40px;
}

.card-image {
    width: 100%;
    height: 192px;
}

.card-text {
    margin-top: 29px;
    gap: 29px;
}

.cards-header {
    color: var(--background);
    font-size: 16px;
    width: 242px;
    text-align: center;
}

.card-line {
    width: 51px;
    height: 5px;
    margin-top: -18px;
    background-color: var(--background);
}

.card-desc {
    font-size: 12px;
    width: 309px;
    text-align: justify;
}

.card-btn {
    background-color: transparent;
    font-size: 12px;
    border: 1px solid black;
    padding: 10px 14px;
}

.more {
    float: right;
    margin-right: 52px;
    background-color: var(--background);
    font-size: 12px;
    padding: 10px 14px;
    border: 1px solid black;
    color: white;
    margin-top: 60px;
}