.post-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
  background-color: #d9d9d9;
    border: none; /* Add a border to the input field */
    font-size: 16px; /* Set the font size */
    text-align:left;
    display: flex;
    margin-bottom: 20px;
}

/* Style the placeholder text inside the input field */
.input-field.text-field:placeholder {
  background-color: #d9d9d9;
  padding: 100px;
  width: 150%;
   
}

/* Style the input field when it's focused */
.input-field:focus {
  border-color: #d9d9d9; /* Change the border color when focused */
  outline: none; /* Remove the default focus outline */
  background-color: #d9d9d9;
}

/* Style for the text area */
.text-field {
  width: 890px;
  height: 316px;
  top: 405px;
  left:358px;
  padding: 20px;
  background-color: #d9d9d9; /* Change background color */
  display: flex;
  margin-bottom: 20px;
}

/* Style for the image preview */
.image-preview {
  width: 150px; /* Set a maximum width for the image preview container */
  height: 150px; /* Set a maximum height for the image preview container */
  margin-bottom: 20px;
  overflow: hidden;
  margin-top: -50px; /* Hide any overflowing parts of the image */
}

.image-preview img {
  width: 100%; /* Make the image fit within the container */
  height: 100%; /* Make the image fit within the container */
  border-radius: 100%;
}

/* Style for the submit button */
.custom-button {
  background-color: maroon;
  margin-top: 30px;
  color: #fff;
  padding: 10px 20px;
  text-align:left;
  display: flex;
}