.gallery {
    height: auto;
    padding-bottom: 100px;
}

.gallery-container {
    margin-top: 40px;
}

.gallery-header {
    color: var(--background);
}

.gallery-heading {
    gap: var(--heading-gap);
}

.gallery-line {
    width: 68px;
    height: 6px;
    background-color: var(--background);
}

.image-container {
    margin-top: 90px;
    gap: 10px;
}

.gallery-image {
    width: 100%;
}

.gallery-btn {
    float: right;
    margin-right: 158px;
    padding: var(--button-padding);
    background-color: var(--background);
    color: var(--text_color);
}