.hero {
   height: 100vh; 
}

.hero-container {
    background-image: url(../images/IMG_8375.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--background_overlay);
}

.hero__image {
    width: 100%;
}

.hero-content {
    height: calc(100vh - 92px);
}

.hero-heading, .hero-subheading {
    color: var(--text_color);
}

.hero-heading {
    font-size: 3.5vw;
    position: relative;
    text-align: center;
}

.hero-subheading {
    font-size: 16px;
    position: relative;
    text-align: center;
}

