th {
    background-color: #D9D9D9 !important;
}

table, td, th {
    border: none !important;
}

.add-btn {
    background-color: #D9D9D9 !important;
}

.add-text {
    color: black !important;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

ul > li > a {
    padding: 23px;
}

.pagination__link--active {
    color: #fff;
    background-color: #273A5C;
}